---
const currentYear = new Date().getFullYear();
---

<footer class="w-full">
  <div class="max-w-[1024px] mx-auto px-[50px] py-[50px] flex justify-center">
    <div class="flex flex-col items-center gap-4">
      <!-- Social Icons -->
      <img src="/social-icons.svg" alt="Social media links" class="h-6" />

      <!-- Copyright -->
      <p class="font-lato font-light text-base text-[#1E1E1E]">
        {currentYear} Quoc Phan
      </p>
    </div>
  </div>
</footer>
